/* Define styles for the elements */
#Title {
    color: #3366cc; /* Blue */
}

#Text {
    color: #cc3333; /* Red */
}

#Analysis {
    color: #009900; /* Green */
}

#upvote {
    color: #ff9900; /* Orange */
}

#downvote {
    color: #990099; /* Purple */
}

#number{
    color:red;
    font-weight: bolder;
    
}

section {
    background-color: #ebd08e; /* Light gray */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
    margin-bottom: 20px; /* Add some margin between sections */
}

/* Define styles for the boundary */
section:last-child {
    border-bottom: 2px solid #dddddd; /* Add a solid border at the bottom of the last section */
}